/* stripping styles */
body,
ul,
h1,
h2,
h3,
h4,
h5,
p {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    display: block;
}

/* wrapper styles */
.wrapper {
    margin: 0 auto;
    max-width: 1600px;
    width: 85%;
    padding: 50px;
}

/* body styles */
body {
    color: $textColor;
    background-color: $primaryColor;
    font-family: $secondaryFontFamily;
    font-size: 2rem;
    min-width: 320px;
    margin: 0 auto;

}


header {
	/* display: flex; */
	/* background: cyan; */
    color: $textColor;
    text-align: center;
}

.catImage {
    width: 50%;
    align-self: stretch;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.updatedEnergy {
    color: red;
}

.bottomSection {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.messageBox {
    // width: 600px;
    width: 50%;
    height: 200px;
    border: 2px solid darkblue; 
    text-align: center;
    margin-top: 10px;
    background-color: cyan;
    align-self: center;
}

.clock {
    width: 25%;
    // text-align: center;
    // margin: 0 auto;
        p {
            width: 40%;
            margin: 0 auto;
            background-color: cyan;
            text-align: center;
        }
}

.icons {
    width: 25%;
    text-align: center;
}


footer {
    text-align: center;
}


* {
    border: 1px solid yellow;
}

/* button styles */
button {
    @include colors ($thirdColor, $secondaryColor);
    text-align: center;
    width: 100px;
    height: 30px;
    border: none;
    margin: 0 auto;
        &:hover,
        &:focus {
            @include colors ($textColor, $primaryColor);
        }
}

@media(max-width: 900px) {
    html {
        font-size: 60%;
    }
}

@media(max-width: 768px) {
    html {
        font-size: 56.25%;
    }

    .wrapper {
        width: 90%;
    }
}