/* stripping styles */
body,
ul,
h1,
h2,
h3,
h4,
h5,
p {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    display: block;
}

/* wrapper styles */
.wrapper {
    margin: 0 auto;
    max-width: 1600px;
    width: 85%;
}

/* body styles */
body {
    @include colors ($primaryColor, $textColor);
    font-family: $secondaryFontFamily;
    @include fontSize(20);
    min-width: 320px;
    text-align: center;
}

/* button styles */
button {
    @include colors ($thirdColor, $secondaryColor);
    font-family: $secondaryFontFamily;
    text-align: center;
    text-transform: uppercase;
    width: 150px;
    height: auto;
    border-radius: 5px;
    border: 2px solid $textColor;
    padding: 5px;
    margin: 0 auto;
    display: block;
    &:hover { /* I don't give buttons focus as they have it by default */
        @include colors ($textColor, $primaryColor);
        opacity: 0.5;
        transition: all 0.3s ease-in-out;
        cursor: pointer;
    }
}