
@media(max-width: 900px) {
    html {
        font-size: 60%;
    }

    /* social ul styles */
    .social {
        flex-direction: row;
        justify-content: center;
        position: static;
        margin-top: 60px;
    }
}

@media(max-width: 768px) {
    .wrapper {
        width: 90%;
    }

    body {
        @include fontSize(15);
    }

    /* welcome page styles */
    .welcomePage {
        padding-top: 20px;
            h1 {
                @include fontSize(50);
            }
            .welcomeMessage {
                flex-direction: column;
                    .welcomeImage {
                        order: 1;
                        // width: 50%;
                    }
                    p {
                        @include fontSize(25);
                        order: 2;
                        line-height: 3rem;
                    }
            }
    }

    .welcomeImage img {
        width: 70%;
        margin: 0 auto;
    }
    
    /* game page styles */
    .gamePage h2 {
        @include fontSize(35);
        padding: 15px 0;
    }

    .content {
        flex-direction: column;
            .energyDisplay,
            .buttonSection {
                width: 100%;
                display: flex;
                flex-direction: row;
            }
            .catImage {
                width: 100%;
            }
    }

    .energyDisplay p {
        @include fontSize(18);
    }

    .bottomSection {
        flex-wrap: wrap;
            .clock {
                width: 50%;
                order: 2;
            }
            .messageBox {
                width: 100%;
                order: 1;
                min-height: 200px;
                @include fontSize(20);
            }
            .keywords {
                order: 3;
                width: 50%;
                @include fontSize(20);
            }
    }
}
