$primaryColor: #ADE7F6;
$secondaryColor: #0E89E4;
$textColor: #457B9D;
$thirdColor: #E3E9FB;
$accentColor: #FF0000;
$primaryFontFamily: 'Amatic SC', cursive;
$secondaryFontFamily: 'Zilla Slab', serif;