@mixin colors ($background, $color) {
  background-color: $background;
  color: $color;
}

@mixin fontSize ($fontSizeValue)  {
    font-size: $fontSizeValue * 1px;
    font-size: ($fontSizeValue/10) * 1rem;
}

@mixin flex ($flexFlow, $justifyContent, $alignItems) {
    display: flex;
    flex-flow: $flexFlow;
    justify-content: $justifyContent;
    align-items: $alignItems;
}