$primaryColor: #ADE7F6;
$secondaryColor: #0E89E4;
// $textColor: #457B9D;
// $textColor: #A8DADC;
$textColor: #457B9D;
$thirdColor: #E3E9FB;
// $textColor: #D8FCF9;
// $primaryFontFamily: 'Montserrat', sans-serif;
$primaryFontFamily: 'Amatic SC', cursive;
$secondaryFontFamily: 'Zilla Slab', serif;


// F1FAEE
// D8FCF9
// FFEBF3